@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

root {
    --jp-ui-font-family: "Inter", sans-serif;
    --jp-code-font-size: 13px;
    --jp-private-code-span-padding: 1px;
}

html {
    font-family: "Inter", sans-serif;
    color: #006699;
}

.article {
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
}

.py-2, .p-2 {
    padding-top: 0px;
    padding-bottom: 0px;
}

