@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

root {
    --jp-ui-font-family: "Quicksand", sans-serif;
    --jp-code-font-size: 13px;
    --jp-private-code-span-padding: 1px;
}

html {
    font-family: "Quicksand", sans-serif;
    color: #006699;
}

.article {
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
}

.py-2, .p-2 {
    padding-top: 1px;
    padding-bottom: 1px;
}

.collapsible-content {
    font-size: 85%!important;
}

